@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .button{
        @apply text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800
    }
    .card{
        /* @apply bg-white dark:bg-neutral-800 border-solid dark:border-none border-neutral-700 border-2 shadow-lg dark:text-white text-neutral-700 rounded-lg; */
        @apply bg-white dark:bg-neutral-800 shadow-lg dark:text-white text-neutral-700 rounded-lg;
    }
    .spacer{
        @apply w-full mx-2 h-[2px] bg-neutral-700 rounded-lg my-5;
    }
    .spacer-xs{
        @apply w-auto m-0 h-[1px] bg-neutral-700 rounded-lg;
    }
    .chip{
        @apply mx-2 text-xs px-7 w-fit py-2 rounded-full shadow bg-neutral-100 hover:bg-neutral-200 border-solid dark:border-none border-[1px] border-neutral-400 dark:bg-neutral-700 dark:hover:bg-neutral-600 text-neutral-700  dark:text-white
    }
    .chip-selected{
        @apply mx-2 text-xs px-7 w-fit py-2 rounded-full shadow dark:bg-neutral-100 dark:hover:bg-neutral-200 dark:border-solid border-none border-[1px] border-neutral-400 bg-neutral-700 hover:bg-neutral-600 dark:text-neutral-700  text-white
    }
    .title::before{
        @apply bg-neutral-700 dark:bg-neutral-400 
    }
}

::-webkit-scrollbar {
    height: .3em;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}